
.homeanimationwrap{
  
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  // background: linear-gradient(to bottom, #0d0d2b, #000000);
  background: transparent;
  // color: white;
  .particles {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0; 
  }
  .particle {
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 5px 1px white;
    animation: float 10s infinite;
  }
  
  @keyframes float {
    0% {
        transform: translateY(-100vh) ;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0) translateX(0);
        opacity: 0;
    }
  }
  /* Small stars background */
  .star-background {
    position: fixed; /* Changed to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 0; /* Ensure star background is below everything */
  }
  
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    opacity: 0.8;
  }

}
.home {
    // position: relative;
    // z-index: 1;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
  
    .container{
      width:100%;
      max-width: 1100px;
      margin:auto;
      .textcont{
        display: flex;
        justify-content: center;
        gap:1.25rem;
        align-items: center;
        flex-direction: column;
        h1 {
          margin:auto;
          font-size: 3.2rem;
          font-weight: 400;
          color:#6096B4;
    
        }
        h2{
          font-size: 1.6rem;
          font-weight: 400;
          color:aliceblue;
        }
        h3{

        }
        
      }
    }
  }


  .sharebtn {
    margin-top: 1rem;
    padding:0.5rem 1rem;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    transition: all 250ms;
    width: auto;
    font-size: 1.2rem;
  }
  
  .sharebtn:hover,
  .sharebtn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .sharebtn:hover {
    transform: translateY(-1px);
  }
  
  .sharebtn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

  //video cont

  .videocontbg{
    background: rgb(40,44,52);
    background: linear-gradient(180deg, rgba(40,44,52,1) 0%, rgba(41,45,54,1) 25%, rgba(61,56,79,1) 50%, rgb(185, 148, 228) 100%);
    .videocont{
      
      // display: flex;
      // justify-content: center;
      // height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding: 10px;
      padding-block: 2rem;
      video{
        width: 100%;
        height: auto;
      }
  
    }
  }


  // about section css
  .about{
    background-color: #f2f2f2;
    padding-block:2rem;
    h1 {
      display: flex;justify-content: center;
      font-size: 2.8rem;
      font-weight: 400;
      margin:auto;
      margin-bottom: 20px;
    }

    .container {
      width:100%;
      max-width: 1100px;
      margin:auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      // align-items: center;
      padding: 50px 0;
    
     .feature {
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      padding:0.7rem;
      min-width: 300px;
      border-radius: 5px;
      flex:1;
        margin: 19px 15px;
        h1{
          font-size: 1.8rem;
          color:#6096B4;
        }
        
        p {
          font-family: "Playwrite GB S", 'cursive';
          text-align: justify;
          font-size: 1.2em;
          line-height: 1.5;
          margin-bottom: 30px;
        }
    
        .sharebtn{
          background-color: #CCA8E9;
          color:#333;
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  

  @media (max-width: 412px) {
    .about{
      .container{
        padding:1.5rem 1rem;

      }
    }
  }


  // footer css
  .footer{
    
    .container{
      background-color: #282c34;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap:1rem;
      padding:1.5rem 2rem;
      .links{
        display: flex;
        gap:1rem;
        font-size: 1.4rem;
        color:aliceblue;
        color:#609684;
        position: relative;
        z-index: 2;
        
      }
      h4{
        font-family: "Playwrite GB S", 'cursive';
        color:aliceblue;font-weight: 400;
      }
    }
  }

  @media (max-width: 412px) {
    .footer{
      .container{
        padding:1.5rem 1rem;

      }
    }
  }
  @media (max-width: 380px) {
    .footer{
      .container{
        padding:1.5rem 0.5rem;
        .links{
          gap:0.5rem;
        }
        h4{
          font-size: 0.8rem;
        }

      }
    }
  }