// src/pages/Home/Home.scss

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
    gap:2rem;
  
    h1 {
      font-size: 2rem;
    }
  }
  