// src/components/Login/Login.scss

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #282c34;

  form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: #609684 0px 2px 8px 0px;

    h2 {
      margin-bottom: 1rem;
    }

    input {
      border: 1px solid #ccc;

      margin-bottom: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
    }

    button {
      padding: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      .loaderwrap{
        display: flex;
        justify-content: center;
        align-items: center;
        .loader{
          display: block;
          margin:auto;
          border: 3px solid #f3f3f3;
          border-top: 3px solid #282c34;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          animation: spin 1s linear infinite;
          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
      
    }

    p{
      font-size: 0.8rem;
      margin-top: 1rem;
      a{
        color:rgb(7, 7, 173);
      }
    }
  }
}

input:focus{
  border: 1px solid #ccc;
  outline: none;
}
